.full-card-list {
    width: 100%;
    display: flex; 
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.med-card {
    margin: 10px; 
    width: 350px;
    height: 450px;
    z-index: 3;
}

.img-card {
    height: 320px;
}


.sort-button {
    margin: 2px;
    padding: 0px;
    height: 28px;
    width: 28px;
}


.navbar_my {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navbar__right {
    display: flex;
    flex-direction: row;
    gap: 10px;
}


@media (max-width: 992px) {
    .navbar_my {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}


.free-card-list {
    width: 100%;
    display: flex; 
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.headers {
    text-align: center;
    color: rgb(25,135,83);
}


.map{
    width: 300px;
    height: 300px;
    background-color:aquamarine;
    display: flex;
    margin: 20px;
}
/* [class*="copyrights-pane"] {
    display: none !important;
  } */

.free {
    background-color:azure;
}


/* .navbar-style {
    background-color: rgb(25,135,83);
    color: azure;
    font-size: 20px;
} */

.free-card {
    margin: 10px; 
    width: 370px;
    height: 450px;
    z-index: 3;
}

.in-stock {
    position: absolute;
    margin-top: -320px;
    margin-left: 260px;
    z-index: 5;
    background-color: rgb(25,135,83);
    font-size: 13px;
    width: 100px;
    text-align: center;
    color: azure;
    border-radius: 10mm;
}

.not-in-stock {
    position: absolute;
    margin-top: -320px;
    margin-left: 260px;
    z-index: 5;
    background-color: rgb(156, 11, 11);
    font-size: 13px;
    width: 100px;
    text-align: center;
    color: azure;
    border-radius: 10mm;
}

.card-body {
    position: relative;
    z-index: 0;
}

.btn-style {
    margin: 2px;
    width: 105px;
}
